.header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: 100%;
    justify-items: center;
}

.header div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 896px;
}

.navbar {
    justify-self: center;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    gap: 16px;
    max-width: 896px;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    gap: 16px;
    max-width: 896px;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%
   
}

.pageTitle {
    justify-self: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
}

.dialog {
    background-color: aqua;
    border-radius: 16px;
    width: 400px;
    height: 400px;
    
}

.dialog-close-button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.grid-info {
    align-content: center;
}

.info {
    display: flex;
    max-width: 896px;
    min-width: 100%;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.info p {
    max-width: 896px;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    gap: 16px;
    max-width: 896px;
    justify-self: center;
    justify-items: center;
    justify-content: center;

}

.info-card {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.info-card-message {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* bottom: 0; */
    background-color: aliceblue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;


}

@keyframes fade {
    0% {
        transform: scale(0.01);
        opacity: 0;

    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

    
}

#fade{
    width: 100%;
    height: 100%;
    background-color: #04AA6D;
    animation: fade 2s;
    animation-timing-function: ease-in-out;
}

@keyframes slide {
    0% {
        translate: 0% 50%;
        opacity: 0;

    }

    100% {
        transform: 50% 50%;
        opacity: 1;
    }

    
}

#slide{
    width: 100%;
    height: 100%;
    background-color: #04AA6D;
    animation: slide 2s;
    animation-timing-function: ease-in-out;
}

#rotate {
    width: 100%;
    height: 100%;
    background-color: #04AA6D;
}

@keyframes rotateKeyFrame {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 45deg;

    }
    
}

#rotate:hover{
    animation: rotateKeyFrame 3s;
    animation-timing-function: ease-in-out;

}

.footer {
    text-align: center;
}