.header{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: 100%;
    justify-items: center;
}

.header div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 896px;
}

.navbar {
    justify-self: center;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    gap: 16px;
    max-width: 896px;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}

.card {
   
}

.pageTitle {
    justify-self: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;

}
/* this is the styling for the button for the image descriptions*/
.responsive {
    width: 100%;
    height: 200px;
  }

  
  /* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }